<div class="login-page" [@routerTransition]>
 
    <p *ngFor="let alert of service.globalalertBox">
 
        <ngb-alert [type]="alert.type" (close)="closeGlobalAlert(alert)">
 
            {{ alert.message }}
 
        </ngb-alert>
 
    </p>
 
    <div class="row justify-content-md-center">
        <div class="col-md-6">

            <img class="user-avatar" id="ConfirmEmailImg" src="assets/images/logo.png" />
 
            <h1 id="ConfirmEmailHeader">
                Confirm the Account
            </h1>
            
            <hr style="color: white">

            <h4 id="confirmEmailDesc">
                By clicking the confirm button your account will
                be activated quickly as possible in our system.<br>
                Be sure to enjoy as possible.   
            </h4>
            <br>
            <button class="btn rounded-btn" id="confirmEmailBtn"  [disabled]="!spinnerIcon" (click)="submitConfirmEmailToken()">
                   Confirm

                <i class="fa fa-spinner fa-spin fa-1x fa-fw" id="loginButton" [hidden]="spinnerIcon"></i>

            </button>
    
        </div>
        

    </div>

</div>