<nav class="navbar navbar-expand-lg fixed-top" [@routerTransition]>

    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">

        <span class="navbar-toggler-icon">  

          <i class="fa fa-bars text-muted" aria-hidden="true"></i>
        </span>

    </button>

    <a class="navbar-brand"
    routerLink="/dashboard"
    [routerLinkActive]="['router-link-active']">
        {{ 'Budget Management' | translate }}
    </a>

    <div class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">

       <!-- notification for pending task -->

          <li class="nav-item dropdown" ngbDropdown *ngIf="!isMobileScreen()">

                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>

                    <i class="fa fa-skyatlas" style="font-size: 19px;"></i>
                    <b class="caret"></b>
                    <span class="sr-only">(current)</span>

                </a>

            <ul class="dropdown-menu dropdown-menu-right messages col-lg-8">

                <li class="media" id="pollution-data" *ngFor="let item of service.airPollutionKeys" style="border-bottom: 0px;">

                    <!-- <img class="d-flex align-self-center mr-3"
                        src="" alt="Generic placeholder image"
                    > -->
                    
                    <!-- <div class="d-flex align-self-center mr-3" >
                        header
                    </div> -->

                    <div class="media-body allow-center">

                        <h4 class="mt-0 mb-1">
                            {{ item | uppercase}}
                        </h4>

                        <p class="small text-muted"><i class="fa fa-clock-o"></i> 
                            {{ service.currentDateWithMomentJS }}
                        </p>
                     
                            <ul class="last" style="list-style: none;padding: 0;">

                                <li>

                                    {{ 'Mix Ratio' | translate}}: {{ roundOfData(service.airPollutionData[item]['value']) }}
                                </li>

                                <li>
                                    {{ 'Pressure' | translate }}: {{ roundOfData(service.airPollutionData[item]['pressure']) }} hPa
                                </li>

                            </ul>
                   
                    </div>

                </li>

            </ul>

            </li>
            
            <li class="nav-item dropdown" id="upload-status" ngbDropdown [ngStyle]="{'color': uploadService.percentage? 'blue' : '#999'}">
            
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
            
                    <i class="fa fa-bell"></i>
                    <b class="caret"></b>
                    <span class="sr-only">(current)</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    
                    <a href="javascript:void(0)" class="dropdown-item" *ngIf="uploadService.percentage; else NoStatusForUpload">
                        {{ 'Upload Status' | translate }}

                        <span class="badge badge-info"> {{ uploadService.percentage }}
                        </span>

                    </a>

                    <ng-template #NoStatusForUpload>
                        <a href="javascript:void(0)" class="dropdown-item">
                            {{ 'Upload Status' | translate }}

                            <span class="badge badge-info"> {{ 'None' | translate }}
                            </span>

                        </a>  
                    </ng-template>

                </ul>
           
            </li>
           
            <li class="nav-item dropdown" id="language" ngbDropdown >
           
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
           
                    <i class="fa fa-language"></i>
                    {{ 'Language' | translate }}
                    <b class="caret"></b>
           
                </a>
           
                <div class="dropdown-menu dropdown-menu-right">
           
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'English' | translate }}
                    </a>
           
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
                        {{ 'French' | translate }}
                    </a>
           
                </div>
           
            </li>
           
            <li class="nav-item dropdown" id="profile-menu" ngbDropdown>
           
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <img src="{{getUserProfileURL()}}"  
                    id="profileImageHeaderBar" alt="Profile" />
           
                </a>
           
                <div class="dropdown-menu dropdown-menu-right">
           
                    <a class="dropdown-item" [routerLink]="['/profile']">
           
                        <i class="fa fa-fw fa-user"></i> {{ getUserName() }}
                    </a>
           
                    <a class="dropdown-item" [routerLink]="['/settings']">
           
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
           
                    </a>
           
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
              
                </div>
            
            </li>
        
        </ul>
    
    </div>

</nav>
