<div class="login-page" [@routerTransition]>
 
    <p *ngFor="let alert of service.globalalertBox">
 
        <ngb-alert [type]="alert.type" (close)="closeGlobalAlert(alert)">
 
            {{ alert.message }}
 
        </ngb-alert>
 
    </p>
 
    <div class="row justify-content-md-center">
 
        <div class="col-md-4">
 
            <img class="user-avatar" src="assets/images/logo.png" />
 
            <h1>Change Password</h1>
 
            <form  [formGroup]="passwordChangeForm" (ngSubmit)="onSubmitPasswordChangeForm(passwordChangeForm.value)" >
 
                <div class="form-content">
 
                  <div class="form-group">
 
                      <input  [ngClass]="{'has-error':checkFormHasError('restNewPassword')}"
                       class="form-control input-underline input-lg" type="password"  id="restNewPassword"  placeholder="New Password" formControlName="restNewPassword">
 
                  </div>
 
                  <div class="form-group">
 
                      <input  [ngClass]="{'has-error':checkFormHasError('restConfirmPassword')}"
                       class="form-control input-underline input-lg" type="password"  id="restConfirmPassword"  placeholder="Repeat password" formControlName="restConfirmPassword"
                       >
 
                  </div>
 
                </div>
 
                <button class="btn rounded-btn" id="changePassword"  [disabled]="!spinnerIcon">
                       Confirm
 
                    <i class="fa fa-spinner fa-spin fa-1x fa-fw" id="loginButton" [hidden]="spinnerIcon"></i>
 
                </button>
 
                <a class="btn rounded-btn" [routerLink]="['/']" (
                click)="service.onLoggedout()"> Cancle </a>
            
            </form>
        
        </div>
    
    </div>

</div>

<!-- 
<div class="login-page" [@routerTransition]>
    <p *ngFor="let alert of service.globalalertBox">
        <ngb-alert [type]="alert.type" (close)="service.closeGlobalAlert(alert)">
            {{ alert.message }}
        </ngb-alert>
    </p>
    <div class="row justify-content-md-center">
          <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Change Password</h1>
            <form role="form" [formGroup]="passwordChangeForm" (ngSubmit)="onSubmitPasswordChangeForm(passwordChangeForm.value)">


              <div class="form-content">
                <div class="form-group">

                  
                </div>
              </div>

              <div class="form-content">
                <div class="form-group">

                  <input name="restConfirmPassword" type="password" class="form-control input-underline input-lg" id="restConfirmPassword"  placeholder="Repeat password" fromControlName="restConfirmPassword">
                 
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn app-button" id="submit-btn">Change Password</button>
                </div>
              </div>

            </form>
        </div>

    </div>
</div> -->