<div [formGroup]="formGroupToList" class="input-group">
  <input type="text" name="entryGroupItemsHint-{{indx}}" id="entryGroupItemsHint-{{indx}}"
  formControlName="name"
  placeholder="hint to remember"
   class="form-control input-underline"
   [ngClass]="{'has-error':checkFormError('name')}"
  />
  <input type="text" name="entryGroupItemsAmount-{{indx}}"
   id="entryGroupItemsAmount-{{indx}}"
   formControlName="amount"
   pattern="^\d{1,4}(\.\d{0,2})?$"
  placeholder="amount Eg: 2001.12"
   class="form-control input-underline"
   title="Only 4 number and 2 number before point is allowed" 
   style="margin-right: 2%;" 
   [ngClass]="{'has-error':checkFormError('amount')}"/>
     <span (click)="addItem()">
       <i class="fa fa-plus-circle"></i>
     </span>
     <span (click)="deleteItem(indx)">
       <i class="fa fa-minus-circle"></i>
     </span>

</div>