<div [formGroup]="formGroupToList" class="input-group">

  <input type="text"
   name="entryGroupItemsHint-{{indx}}" id="entryGroupItemsHint-{{indx}}"
  formControlName="name"
  placeholder="{{ 'Item Name/Total Amount' | translate }}"
   class="form-control input-underline entrySubItem"
   [ngClass]="{'has-error':checkFormError('name')}"
  />

  <input type="text" name="entryGroupItemsAmount-{{indx}}"
   id="entryGroupItemsAmount-{{indx}}"
   formControlName="amount"
   pattern="^\d{1,4}(\.\d{0,2})?$"
   placeholder="{{ 'Amount' | translate }}"
   class="form-control input-underline entrySubItem"
   title="Only 4 number and 2 number before point is allowed"
   style="margin-right: 2%;" 
   [ngClass]="{'has-error':checkFormError('amount')}"/>

     <span (click)="addItem()" class="entrySubItem-action" style="margin-right: 5px;">

       <i class="fa fa-plus-circle"></i>

     </span>

     <span (click)="deleteItem(indx)" class="entrySubItem-action">

       <i class="fa fa-minus-circle"></i>

     </span>

</div>