<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    
                    {{'Bar Chart' | translate }}
                </div>
                <div class="card-body">
                    <canvas baseChart *ngIf="barChartLabels && barChartData"
                     [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" >
                    </canvas>
                </div>
                <div class="card-footer">
                    {{'Current Month Group/Categories' | translate }}
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Doughnut Chart' | translate }}
                    <span placement="right" [ngbTooltip]="tipDashTableContent2" 
                    [hidden]="hideBudgetAmountZero">
                        <i class="fa fa-question-circle "></i>
                        <ng-template #tipDashTableContent2>
                           {{ 'Spending amount exceed the budget amount of the month.' | translate }}
                        </ng-template>
                    </span>
                </div>
                <div class="card-body">
                    <canvas baseChart *ngIf="doughnutChartData && doughnutChartLabels"
                     height="150px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                     {{ 'Selected Month Budget and Spend Amount' | translate }}
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">

                <div class="card-header">
                    Radar Chart
                    <span placement="right" [ngbTooltip]=tipDashTableContent1 >
                        <i class="fa fa-question-circle "></i>
                        <ng-template #tipDashTableContent1>
                           minium three Group/Catogories are required to show radar chart.
                        </ng-template>
                    </span>
                </div>
                <div class="card-body">
                    <canvas  baseChart height="150px" *ngIf="radarChartLabels && radarChartData"
                     [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    Current month's Group/Catogories
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" *ngIf="lineChartLabels && lineChartData" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Polar Area Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div> -->
</div>
