<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Radar Chart
                </div>
                <div class="card-body">
                    <canvas  baseChart height="150px" *ngIf="radarChartLabels && radarChartData"
                     [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    get the current's month group
                    <span placement="top" [ngbTooltip]=tipDashTableContent triggers="click">
                        <i class="fa fa-question-circle "></i>
                        <ng-template #tipDashTableContent>
                            <ol>
                                <li>On 2 entry alone the radar chart show in as line</li>
                            </ol>
                        </ng-template>
                    </span>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart *ngIf="doughnutChartData && doughnutChartLabels"
                     height="150px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                     get only the current's months budget amount and spend amount
                </div>
            </div>
        </div>
    </div>
<!--     <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart *ngIf="barChartLabels && barChartData"
                     [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    getting all years budget amount and spend amount
                     <button class="btn btn-info btn-sm" (click)="randomize()">Update</button> 
                             <select id="month" name="month">
                                <option *ngFor="let month of service.listOfMonths" [ngValue]="month.value">
                                    {{month.name}}
                                </option>
                            </select> 
                            <form [formGroup]="rangeMonthAndYear" (ngSubmit)="onSumitForm(rangeMonthAndYear.value)"
                             class="form-inline">
                                <div class="form-group">
                                 <label class="col-form-label" for="start">Start</label>
                                 <input formControlName="startMonthAndYear" id="start"
                                   type="month" name="bday-month" min="2000-01"
                                  max="{{service.today.getFullYear()}}-{{service.today.getMonth()+1}}"
                                  placeholder="2015-07(Year-month)">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="start">end</label>
                                    <input formControlName="endMonthAndYear"
                                     id="end" type="month" name="bday-month" min="2000-01"
                                      max="{{service.today.getFullYear()}}-{{service.today.getMonth()+1}}"
                                    [value]="service.today.getFullYear()+'-'+service.today.getMonth()+1"                                 
                                      placeholder="2016-01(Year-month)">
                                </div>
                                <button class="btn btn-info btn-sm" type="submit">
                                    Update
                                </button>
                                {{rangeMonthAndYear.value | json}}
                            </form>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Polar Area Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div> -->
</div>
