<div class="login-page" [@routerTransition]>
    <p *ngFor="let alert of service.globalalertBox">
        <ngb-alert [type]="alert.type" (close)="service.closeGlobalAlert(alert)">
            {{ alert.message }}
        </ngb-alert>
    </p>
    <div class="row justify-content-md-center">

        <div class="col-md-4 blur-content">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Login</h1>
            <form role="form" [formGroup]="loginForm" (ngSubmit)="onLoggedin()" >
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [ngClass]="{'has-error':checkFormHasError('loginPassName')}"
                         formControlName="loginPassName"
                         class="form-control input-underline input-lg"
                          id="loginPassName" placeholder="User name">
                    </div>
                    <div class="form-group">
                        <input type="password" [ngClass]="{'has-error':checkFormHasError('loginPassword')}"
                         formControlName="loginPassword"
                         class="form-control input-underline input-lg" id="loginPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                <a [routerLink]="['/login', 'forgot-password']">Forget Your Password?</a>
                <br>
                </div>
                <div class="form-group">                  
                  <button class="btn rounded-btn" id="loginButton" type="submit"  [disabled]="!spinnerIcon">
                       Log in 
                       <i class="fa fa-spinner fa-spin fa-1x fa-fw" id="registerButton" [hidden]="spinnerIcon"></i>
                  </button>
                  &nbsp;
                  <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>