
$material-blue-800: #1565c0 !important;
$material-white: white !important;
$material-blue-700: #1e88e5 !important;

$default-color: $material-blue-800;
$default-font-color: $material-white;

$default-hover-color: $material-blue-700;
$default-hover-font-color: $material-white;

$default-active-color: $material-blue-700;
$default-active-font-color: $material-white;

$default-visited-color: $material-blue-700;
$default-visited-font-color: $material-white;

$default-focus-color: $material-blue-700;
$default-focus-font-color: $material-white;

// $default-color: #1565c0 !important;