// follow the https://www.materialpalette.com/ for
// coloring patter.
$material-blue-600: #1e88e5;
$material-blue-700: #1e88e5;
$material-blue-800: #1565c0;
$material-white: white;
$material-black: black;
$material-grey: #eee;

$default-background-color: $material-grey !important;
$default-body-color: $material-white !important;

$default-color: $material-blue-800 !important;
$default-font-color: $material-white !important;

$default-hover-color: $material-blue-700 !important;
$default-hover-font-color: $material-white !important;

$default-active-color: $material-blue-700 !important;
$default-active-font-color: $material-white;

$default-visited-color: $material-blue-700 !important;
$default-visited-font-color: $material-white !important;

$default-focus-color: $material-blue-700 !important;
$default-focus-font-color: $material-white !important;


// $default-color-inverse: $material-blue-800 !important;
$default-font-color-inverse: $material-black !important;

// $default-hover-color-inverse: $material-blue-700 !important;
$default-hover-font-color-inverse: $material-black !important;

// $default-active-color-inverse: $material-blue-700 !important;
$default-active-font-color-inverse: $material-black;

// $default-visited-color-inverse: $material-blue-700 !important;
$default-visited-font-color-inverse: $material-black !important;

// $default-focus-color-inverse: $material-blue-700 !important;
$default-focus-font-color-inverse: $material-black !important;
