
// varaiable from bm-vairable.scss

.card {
  background-color: $bm-body-color;
  border-radius: 0px;

  // &:hover, &:active {
  //   box-shadow: 0 4px 20px 0px;
  // }

  &-header {
     background-color: $bm-body-color;
  }

}