
.ngx-datatable.bootstrap {
    .datatable-body {
        .datatable-body-row {
            .datatable-row-even {            
                background-color: transparent;
                color: black;
            }
            &.active {
                background-color: transparent;
                color: black;
            }
        }
    }
}
.ngx-datatable.bootstrap .datatable-body 
.datatable-body-row.datatable-row-even {
                background-color: transparent;

}