/* input underline */
// .input-underline {
//         background: 0 0;
//         border: none;
//         box-shadow: none;
//         border-bottom: 2px solid black ; 
//         color: black;
//         border-radius: 0;
//         padding-bottom: calc(0.375rem + 1px);
//         padding-top: calc(0.375rem + 1px);


//         &:focus {
//         border-bottom: 2px solid green ;
//         box-shadow: none;
//         }
// }

textarea:not(textarea), textarea.form-control:not(textarea),
 input.form-control:not(textarea), input[type=text]:not(textarea), 
 input[type=password]:not(textarea), input[type=email]:not(textarea), 
 input[type=number]:not(textarea), [type=text].form-control:not(textarea),
 [type=password].form-control:not(textarea),
 [type=email].form-control:not(textarea),
 [type=tel].form-control:not(textarea),
 [contenteditable].form-control:not(textarea) {
        border-radius: 0px;
}

.has-error {
        // border-bottom: 2px solid rgba(250, 56, 100, 0.80);
        box-shadow: inset 0 -2px 0 red !important;
        /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 56, 100, 0.80);*/

}
