
.navbar {
    background-color: $default-color;
}

.navbar .nav-item > a {
    color: $default-font-color;
}

.sidebar {
    background-color: $default-color;
    color: $default-font-color; 
}

.sidebar .list-group a.list-group-item {
    background-color: $default-color;
    color: $default-font-color;
}

.sidebar .list-group a:hover {
    background-color: #1976d2 !important;
    color: $default-hover-font-color;
}