@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
    }
    .navbar-brand {
    	// padding: 0.25rem 0.75rem;
    	font-size: 22px;
    }

    .navbar-toggler {

        border-color: $material-white;
        
        .navbar-toggler-icon > i {
            color: $default-font-color;
        }

    }
}
