.fs-12 {
    font-size: 12px;
}

 .app-button {
   background-color: black;
   color: #fff;
   &:hover {
     background-color: black;
     color: #fff;
    }
}

.modal.show .modal-dialog {
  margin-top: 10%;
}

@media screen and (max-width: 992px) {
    .modal-content {
        margin-top: 20%;
    }
}