<div [@routerTransition]>
    <app-page-header [heading]="'Dashboard'" [icon]="'fa-bar-chart-o'"></app-page-header>
    
<tour-step-template>
  
  <ng-template let-step="step" class="pulse">

    <p class="tour-step-content">{{step?.content}}</p>

    <div class="tour-step-navigation">

          <button *ngIf="tour.tourService.hasPrev(step)" class="btn btn-sm btn-default" (click)="tour.tourService.prev()">
            {{step?.prevBtnTitle}}
          </button>

          <button *ngIf="tour.tourService.hasNext(step)" class="btn btn-sm btn-default" (click)="tour.tourService.next()">
            {{step?.nextBtnTitle}}
          </button>

          <button class="btn btn-sm btn-default" (click)="tour.tourService.end()">
            {{step?.endBtnTitle}}
          </button>

    </div>

  </ng-template>

</tour-step-template>

    <app-dash-table></app-dash-table>
    
    <app-notification [categoriesArray]="categoriesArray"></app-notification>
<!--     <app-chat></app-chat>
    <app-timeline></app-timeline> -->

    <div class="fixed-action-btn float-right">
        
        <button>
            
            <i class="fa fa-eject"></i>
            
        </button>
        <ul>
            <li>
                <button  (click)="tour.startTour()" class="first-color" tourAnchor="start.tour.dashboard">
                    <i class="fa fa-train" ></i>
                </button>
            </li>
            <li>
              <button class="second-color" routerLink="/entry" [routerLinkActive]="['router-link-active']" ngbTooltip="New Entry" placement="left">
                  <i class="fa fa-plus"></i>
              </button>
            </li>

        </ul>
    </div>

</div>
