.ngx-datatable.bootstrap {
    font-size: medium;
}
.ngx-datatable.bootstrap.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
   font-weight: 600;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
   background-color: white;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
   background-color: rgba(0, 0, 0, 0.05);
}

.db-blue {
    color: #007bff;
}

.db-warning {
   color: #e91632;
}