
.ngx-datatable.bootstrap {
    font-size: medium;
    &.fixed-header {
      &.datatable-header {
          &.datatable-header-inner {
            &.datatable-header-cell {
               font-weight: 600;
            }
          }
      }
    }
    .tooltip-inner {
        background-color: black !important;
        color: white !important;
    }
    .datatable-body {
        .datatable-body-row {
            &.datatable-row-even {            
                background-color: transparent;
                color: black;
            }
            &.active {
                background-color: transparent;
                color: black;
            }
        }
    }
}


.db-blue {
    color: #007bff;
}

.db-warning {
   color: #e91632;
}
.no-boarder {
    border-color: white;
}

