
<div [@routerTransition] class="container-fluid pagination-centered"  >
	<app-page-header [heading]="'Entry'" [icon]="'fa-etsy'"></app-page-header>
	<p *ngFor="let alert of entryFormAlert">
		<ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
	</p>
	<div class="row">
		<form class="col-xl-10" [formGroup]="entryForm" (ngSubmit)="entrySubmit();">
			<div class="form-group">
				<label class="col-form-label" for="groupItems">Name</label>
				<input type="text" formControlName="entryGroupName" [ngClass]="{'has-error':checkFormHasError('entryGroupName')}" class="form-control"
				 id="groupItems" placeholder="Name">
			</div>
			<div class="form-group">
				<label class="col-form-label" for="place">Place</label>
				<input type="text" formControlName="entryGroupPlace" [ngClass]="{'has-error':checkFormHasError('entryGroupPlace')}" class="form-control"
				 id="place" placeholder="Place">
			</div>
			<div class="form-group">
				<label class="col-form-label" for="group-category">Category</label>
				<input type="text" formControlName="entryGroupGroup" [ngClass]="{'has-error': checkFormHasError('entryGroupGroup')}" class="form-control"
				 id="group-category" placeholder="Category">
			</div>
			<div class="form-group">
				<label class="col-form-label" for="group-date">Date</label>
				<input type="date" formControlName="entryGroupDate" [ngClass]="{'has-error':checkFormHasError('entryGroupDate')}" class="form-control"
				 id="group-date" placeholder="Type">
			</div>
			<!-- formArray to add or remote fields -->
			<div class="form-inline" formArrayName="entryGroupItems" >
				<div class="d-flex" *ngFor="let form of entryForm.get('entryGroupItems').controls; let indx = index; trackBy: indx">
					<!-- <label class="col-form-label col-sm-1" for="entryGroupItems-{{indx}}">{{indx}}:</label> -->
					<div formGroupName="{{indx}}" class="form-group">
					   <app-listed-items [count]="indx"
						[formGroupToList]="entryForm.controls.entryGroupItems.controls[indx]"
						(addItemList)="addItem()"
						(deleteItemList)="deleteItem(indx)">
					   </app-listed-items>
					</div>
					<br>
				</div>
			</div>
			<button (click)="submitForm=true;" class="btn app-button form-group" [disabled]="!hideLoadSpin">
				Submit <i class="fa fa-spinner fa-spin fa-1x fa-fw" [hidden]="hideLoadSpin"></i>
			</button>
		</form>
	</div>
		<!-- {{ entryForm.value | json }} -->
</div>