// @import "input_underline";
$border_color_1: rgba(250, 56, 100, 0.80);


.form-inline > * {
    margin:15px 3px !important;
}

.allow-center {
	justify-content: center;
	text-align: center;
}

#entryFormGroup  .from-group {
    	padding-top: 2em;
    	padding-bottom: 2em;
}