
hr {
	width: 100%;
}

.profile {
	.p-body {
		.p-image {
			width: 150px;
			height: 150px;
		}
		.p-btn {
			margin: 0 auto;
			display: block;
		}
	}
}

@media screen and (max-width: 992px) {
	.profile {
		.p-body {
			.p-image {
				text-align: center;
				width: 150px;
				height: 150px;
			}
		}
	}
}