.main-container {
    margin-top: 70px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.float-btn {
    // top: 100px;
    bottom:  100px;
    background-color:black;
    // width:40;
    // height:60;
    // padding:6px;
    position: fixed;
    border-radius:200em;
    color: white;
    width:40px;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;

}

.float-left-btn {
    @extend .float-btn;
    float:left;

}

.float-right-btn {
    @extend .float-btn;
    float:right;
}