<div class="card-body col-xl-5 col-lg-6 col-sm-12">

    <div class="list-group list-group-flush">

        <a href="javascript:void(0)" class="list-group-item active clearfix d-block" >

            <i class="fa fa-comment fa-fw"></i>

                {{ 'Category/Group' | translate }}
            <span class="float-right small badge badge-primary badge-pill">
                <em>{{ 'Recent Active' | translate }}</em>
            </span>

        </a>

        <a href="javascript:void(0)" class="list-group-item clearfix d-block" *ngFor="let values of categoriesArray">

            <!-- <i class="fa fa-comment fa-fw"></i> -->

                {{ values['group'] }}

            <span class="float-right small badge badge-primary badge-pill "
              placement="left" [ngbTooltip]="values['date']">
                <em>{{ getTheDays(values['date']) }}</em>
            </span>

        </a>

    </div>
    <!-- /.list-group -->

    <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a> -->

</div>
