.show-error-msg {
    // border-bottom: 2px solid rgb(240, 41, 41);
    color:red;
    display: block;       
}

.form-group {
	display: table;
}

.card-title > span {
	font-size: 50%;
}

@media screen and (max-width: 992px) {
	#entry-file-lable {
		display: none;
	}
	.app-button {
		margin-top: 50px;
	}
}