<div class="login-page" [@routerTransition]>
    <p *ngFor="let alert of service.globalalertBox">
        <ngb-alert [type]="alert.type" (close)="service.closeGlobalAlert(alert)">
            {{ alert.message }}
        </ngb-alert>
    </p>
    
    <div class="row justify-content-md-center">
        <div class="col-md-4 blur-content">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Forgot Password?</h1>
            <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSumitForm(forgotPasswordForm.value)" >
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [ngClass]="{'has-error':checkFormHasError('forgotPasswordEmail')}"
                         formControlName="forgotPasswordEmail"
                         class="form-control input-underline input-lg"
                          id="forgotPasswordEmail" placeholder="Email">
                        <div class="form-control-feedback show-error-msg" *ngIf='forgotPasswordForm.get("forgotPasswordEmail").hasError("email") && checkFormHasError("forgotPasswordEmail")'>
                            Wrong Email Formate not acceptable.
                        </div>
                        <div class="form-control-feedback show-error-msg" *ngIf='checkFormHasError("forgotPasswordEmail") || forceShowEmailRequired'>
                            Register email is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                	<button type="submit" class="btn rounded-btn" id="registerButton"  [disabled]="!spinnerIcon">
                		Send
                    <i class="fa fa-spinner fa-spin fa-1x fa-fw" id="loginButton" [hidden]="spinnerIcon"></i>
                	</button>
                     <a class="btn rounded-btn" [routerLink]="['/']">cancle</a>
                </div>
            </form>
        </div>
    </div>
</div>